$color_1: #222;
$color_2: ghostwhite;
$font-family_1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$background-color_1: #222;
$background-color_2: ghostwhite;

